%h2 Sign up
= simple_form_for(resource, as: resource_name, url: member_user_registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form-inputs
    .span3
      %div
        = f.input :first_name
        = f.input :middle_name
        = f.input :last_name


    .span3
      = f.input :email, required: true, autofocus: true
      - if @validatable
        %i
          (#{@minimum_password_length} characters minimum)
        %br/
      = f.input :password, required: true,autocomplete: "off"
      = f.input :password_confirmation, required: true, autocomplete: "off"

  .row
  .form-actions
    = f.submit "Sign up"
= render "devise/shared/links"