!!!
%html
  %head
    %title Lemur
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags


  %body

    = render 'layouts/header'

    .container{:style => "margin-top:100px"}
      = bootstrap_flash
    .container{:style => "margin-bottom:50px"}
      = yield


    = render 'layouts/footer'

    / JAVASCRIPT INCLUDES HERE
    = javascript_include_tag :application